<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link href="https://unpkg.com/tabulator-tables@4.8.4/dist/css/tabulator.min.css" rel="stylesheet">
	<link href="styles.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.4/dist/js/tabulator.min.js"></script>
	<title>HorarioDeExemplo.csv</title>
</head>

<body class="body-dots">
	<H2>Métricas predefinidas</H2>
	<div>
		<select id="metricasPredefinidas" class="estiloSelect">
			$!{metricasPredefinidasOptions}
		</select>
	</div>

	<H2>Cálculo de métricas</H2>
	<div>
		<select id="select-campo" class="estiloSelect">
			$!{selectCampoOptions}
		</select>

		<select id="select-operador" class="estiloSelect">
			$!{selectOperadorOptions}
		</select>

		<input id="input-valor" type="text" placeholder="valor">
		<button id="button-confirmar" onclick="addToFormula()">Adicionar</button>
		<button id="button-resultado" onclick="showResults()">Obter resultado</button>
		<button id="button-clear" onclick="clearMetric()">Clear Filter</button>
	</div>

	<div id="resultado-obtido">
		<div id="filter-result"></div>
		<p><br><br></p>
	</div>

	<H2>Salas Disponiveis</H2>
	<div>
		<input id="input-capacidadeMin" type="number" placeholder="Capacidade min.">
		<input id="input-capacidadeMax" type="number" placeholder="Capacidade max.">
		<input list="ColunasSalas" id="input-caraterística" type="text" placeholder="Caraterística da Sala">
		$!{datalistOptions}

		<button id="button-SalasDisponiveis" onclick="SalasDisponiveis()">Salas Disponiveis</button>
	</div>

	<header id="horarioHeader">
		<h1>Horário</h1>
	</header>


	<header id="resultadosHeader" class="hidden">
		<H1>Resultado</H1>
		<p><h5>Está a visualizar o resultado da métrica aplicada, pressione "Clear Filter" para ver a tabela original</h5></p>
		<span id="resultados"></span>
	</header>

	<div id="example-table"></div>

	<div id="popup">
		<button onclick="closePopup()">Close</button>
		<div id="popup-content"></div>
	</div>

	<script defer src="data.js"></script>
	<script defer src="main.js"></script>
    <script defer src="dataManipulation.js"></script>
    <script defer src="metrics.js"></script>
</body>
</html>