body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f4e9;
}

.body-dots {
  background-image: radial-gradient(circle, #ff9999 1.6px, transparent 1.5px);
  background-size: 39px 37px;
  height: 100vh;
}

h1, h2, h3, h4 {
  color: #4d4d4d;
}

.hidden {
  display: none;
}

#resultados {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 14px;
  margin: 20px auto;
  max-width: 1000px;
  overflow-x: auto;
  text-align: center;
}

#resultados_numero {
  color: #cc6600;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 15px;
  display: inline-block;
}

#resultado-obtido {
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
  color: #4d4d4d;
}

#example-table {
  margin: 20px;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  overflow-y: auto;
  max-width: 60vw;
}

.estiloSelect {
  width: 400px; /* Adjusted width and removed margin-top and margin-bottom */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

optgroup[disabled] {
  background-color: #f2f2f2;
  color: #999;
}

option:disabled {
  color: #999;
}